/managed_components/
/utils/build/
/utils/logs/
main/build/CMakeFiles/cmake.check_cache
main/build/CMakeFiles/CMakeConfigureLog.yaml
main/build/CMakeFiles/3.28.3/CMakeCCompiler.cmake
main/build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
main/build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
main/build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
main/build/CMakeFiles/3.28.3/CMakeSystem.cmake
main/build/CMakeFiles/3.28.3/CompilerIdC/a.out
main/build/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
main/build/CMakeFiles/3.28.3/CompilerIdCXX/a.out
main/build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
main/build/log/idf_py_stderr_output_116417
main/build/log/idf_py_stderr_output_116587
main/build/log/idf_py_stdout_output_116417
main/build/log/idf_py_stdout_output_116587
